.feature {
  display: flex;
  margin-bottom: 118px;

  &-title {
    color: var(--color-paragraph);
    @extend %body;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &-list {
    display: flex;
    gap: 30px;
  }

  &-antena {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 100px;
    margin: 0 auto;
  }
  &-div {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-text {
    @extend %body;
    height: 72px;
    color: $color-text;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
  }
}
