.photo {
    margin-bottom: 94px;
}

.title-photo {
    display: block;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.photo-list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.photo-item {
    position: relative;
}

.photo-text {
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}