:root{
    --color-text: #757575;
    --color-paragraph: #212121;
    --color-text2:#2196F3;
}
span{
    color: var(--color-text2);
}

.navlist > a{
    color: var(--color-paragraph);
}

.navlist > a:hover{
    color: #2196F3;
}

.nav-item > a{
    color: var(--color-text);
}

.nav-item > a:hover{
    color: var(--color-text2);
}

.backgroundcolor{
    background-color: #2F303A;
    width: 1600px;
    height: 600px;
    
}

h1{
    color: #FFFFFF;
    text-align: center;
}

button{
    background-color: var(--color-text2);
}

a{
    text-decoration: none;
}

.color{
    color: black;
}

h2{
    text-align: center;
}

ul{
   list-style: none; 
}

p{
    color: var(--color-text);
}

.item > a{
    color: var(--color-text);
}

footer{
    background-color: #2F303A;
}

.footercolor{
    color: white;
}

address{
     color: #FFFFFF;
}

